<div class="pg-auth-wrap mod-white">
  <h1>Log In</h1>
  <%= form_tag login_path do %>
  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email] %>

  <%= label_tag :password %>
  <%= password_field_tag :password, params[:password] %>

  <footer class="pg-auth-footer">
    <button type="submit" class="ui-large ui-btn pos-stretch">Log in</button>
  </footer>
  <% end %>
</div>

<footer class="pg-auth-links">
    <span class="type-secondary">Don't have an account?</span> <%= link_to 'Sign Up', signup_path %>
</footer>
