<%= link_to "<< Back to #{@frameset.name}", admin_frameset_frames_path(@frameset) %>

<h1>Editing <i><%= @frame.name %></i></h1>

<%= form_for [:admin, @frameset, @frame] do |f| %>
  <% if @frame.image.present? %>
    <div class="form-group">
      <%= image_tag @frame.image.url(:preview_0) %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.submit class: 'btn btn-primary' %>
  </div>

  <div class="page-header">
    <h3>Transparent Areas</h3>
  </div>

  <% [:original, :preview].each do |type| %>
    <div class="page-header">
      <h4><%= type.to_s.capitalize %></h4>
    </div>

    <% [0, 90, 180, 270].each do |degrees| %>
      <div class="form-group">
        <label><%= degrees %>&deg;</label>
        <div class="form-inline">
          <%= f.label :"#{type}_#{degrees}_left", 'Left' %>
          <%= f.text_field :"#{type}_#{degrees}_left", class: 'form-control', style: 'width: 75px', type: 'number' %>

          <%= f.label :"#{type}_#{degrees}_top", 'Top' %>
          <%= f.text_field :"#{type}_#{degrees}_top", class: 'form-control', style: 'width: 75px', type: 'number' %>

          <%= f.label :"#{type}_#{degrees}_width", 'Width' %>
          <%= f.text_field :"#{type}_#{degrees}_width", class: 'form-control', style: 'width: 75px', type: 'number' %>

          <%= f.label :"#{type}_#{degrees}_height", 'Height' %>
          <%= f.text_field :"#{type}_#{degrees}_height", class: 'form-control', style: 'width: 75px', type: 'number' %>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
