<h1>
  <%= link_to 'Create Frameset', new_admin_frameset_path, class: 'btn btn-primary pull-right' %>
  Framesets
</h1>

<table class="table">
  <tbody>
    <% @framesets.each do |frameset| %>
      <tr>
        <td>
          <%= image_tag(frameset.icon.url, style: 'max-height: 30px') if frameset.icon.present? %>
          <span style="vertical-align: middle">
            <b><%= frameset.name %></b>
            (<%= link_to pluralize(frameset.frames.count, 'frames'), admin_frameset_frames_path(frameset) %>)
          </span>
        </td>
        <td align="right">
          <%= link_to '<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_admin_frameset_path(frameset) %>
          <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, admin_frameset_path(frameset), method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
