<h1 class="s-page-header">Choose your frame set</h1>
<div class="l-main">
  <ul class="l-tiles-wrap">
    <li class="l-tiles-2">
      <div class="mod-highlighted mod-white">
        <div  class="mod-frame-set">
          <%= image_tag('frameset-flat.png')%>
          <span class="mod-frame-set-name">Flat Black</span>
        </div>
      </div>
    </li>

    <li class="l-tiles-2">
      <div class="mod-white">
        <div  class="mod-frame-set">
          <%= image_tag('frameset-photographic.png') %>
          <span class="mod-frame-set-name">Photographic</span>
        </div>
      </div>
    </li>

    <li class="l-tiles-2">
      <div class="mod-white">
        <div  class="mod-frame-set">
          <%= image_tag('frameset-flat.png')%>
          <span class="mod-frame-set-name">Flat Shaded</span>
        </div>
      </div>
    </li>
  </ul>
</div>
<div class="l-sidebar">
  <div class="mod-white-sidebar">
    <ul>
      <li class="mod-highlighted mod-frame-li pos-inline-block-y-center"><div class="mod-frame-li-img-wrap"><%= image_tag('frame-cinema.png') %></div><span class="mod-frame-li-name">Cinema Display</span></li>
      <li class="mod-highlighted mod-frame-li pos-inline-block-y-center"><div class="mod-frame-li-img-wrap"><%= image_tag('frame-macbook.png') %></div><span class="mod-frame-li-name">MacBook</span></li>
      <li class="mod-highlighted mod-frame-li pos-inline-block-y-center"><div class="mod-frame-li-img-wrap"><%= image_tag('frame-ipad.png') %></div><span class="mod-frame-li-name">iPad</span></li>
      <li class="mod-highlighted mod-frame-li pos-inline-block-y-center"><div class="mod-frame-li-img-wrap"><%= image_tag('frame-iphone.png') %></div><span class="mod-frame-li-name">iPhone</span></li>
    </ul>
  </div>
  <a class="ui-btn-large s-stretch">Frame Your Comps</a>
</div>

