<!DOCTYPE html>
<html>
<head>
  <title>InFrame</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script src="//use.typekit.net/kmx6xsb.js"></script>
  <script>try{Typekit.load();}catch(e){}</script>
</head>
<body ng-app="app">

  <header class="g-header">
    <div class="l-wrap type-on-dark">
      <%= link_to 'InFrame', root_path, class: 'g-header-logo' %>
      <nav class="g-header-nav">
        <ul>
          <li>
            <%= link_to 'Sign Up', signup_path %>
          </li>
          <li>
            <%= link_to 'Log In', login_path %>
          </li>
          <!--
          <li class="mod-dropdown-trigger g-header-user">
            <%= image_tag('headshot.png', class: 'g-header-nav-avatar') %>
            <i class="icon-chevron-down"></i>
            <nav class="mod-dropdown">
              <ul>
                <li>
                <a href="">Edit Profile</a>
                </li>
              </ul>
            </nav>
          </li>
          -->
        </ul>
      </nav>
    </div>
  </header>

  <%= yield %>

  <footer class="g-footer">
    <div class="l-wrap">
      <nav class="g-footer-nav">
        <ul>
          <li>
            <a href="">Contact Us</a>
          </li>

          <li>
            <a href="">Request a Feature</a>
          </li>

          <li>
            <a href="">Submit a Frameset</a>
          </li>
        </ul>
      </nav>
    </div>
  </footer>

</body>
</html>
